

/*Pie de Pagina*/

h2{
    text-align: left;;
}
.pie-pagina {
    width: 100%;
    background-image: url("../img/imagen-footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    text-align: justify;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: $color-principal;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: $color-principal;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $color-principal;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: transparent;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}
/*Fin de estilos de Pie de Pagina*/